# Disney Review Dataset - Sentiment Analysis

Using NLP methods to explore the reviews in the dataset.  Potentially generate new reviews using the data.

## Introduction

### Imports

In [12]:
import pandas as pd
import numpy as np

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/spags/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Obtain

Importing our clean dataset.

In [4]:
df = pd.read_csv('clean_DisneylandReviews.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)
print(df.shape)
df.head()

(42656, 6)

,Rating,Reviewer_Location,Review_Text,Branch,Year,Month
0,4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019.0,4.0
1,4,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019.0,5.0
2,4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019.0,4.0
3,4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019.0,4.0
4,4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019.0,4.0

## NLP Analysis

In [13]:
reviews_df = df[['Review_Text', 'Rating']]

In [14]:
reviews_df.head()

                                         Review_Text  Rating
0  If you've ever been to Disneyland anywhere you...       4
1  Its been a while since d last time we visit HK...       4
2  Thanks God it wasn   t too hot or too humid wh...       4
3  HK Disneyland is a great compact park. Unfortu...       4
4  the location is not in the city, took around 1...       4

### Word Count

In [15]:
word_count = [len(review.split()) for review in df['Review_Text']]
word_count

[59,
 171,
 169,
 91,
 31,
 174,
 31,
 101,
 100,
 144,
 42,
 87,
 76,
 22,
 54,
 99,
 47,
 85,
 20,
 44,
 90,
 173,
 146,
 70,
 93,
 40,
 132,
 69,
 59,
 276,
 43,
 110,
 168,
 81,
 551,
 162,
 270,
 164,
 34,
 78,
 44,
 40,
 108,
 48,
 70,
 46,
 117,
 60,
 32,
 24,
 30,
 155,
 56,
 125,
 36,
 28,
 24,
 38,
 62,
 41,
 24,
 201,
 33,
 70,
 89,
 38,
 28,
 66,
 125,
 42,
 34,
 98,
 58,
 51,
 143,
 70,
 56,
 112,
 48,
 166,
 115,
 54,
 91,
 57,
 20,
 152,
 202,
 92,
 24,
 83,
 292,
 61,
 190,
 61,
 35,
 39,
 52,
 27,
 133,
 128,
 91,
 23,
 65,
 135,
 76,
 419,
 85,
 28,
 207,
 84,
 65,
 35,
 63,
 89,
 121,
 75,
 41,
 52,
 29,
 63,
 53,
 108,
 225,
 75,
 251,
 56,
 116,
 43,
 78,
 119,
 113,
 52,
 35,
 74,
 30,
 17,
 27,
 90,
 54,
 231,
 95,
 83,
 71,
 235,
 92,
 35,
 78,
 33,
 51,
 43,
 94,
 66,
 37,
 26,
 44,
 76,
 211,
 180,
 88,
 128,
 67,
 29,
 23,
 152,
 46,
 99,
 212,
 202,
 84,
 284,
 120,
 71,
 193,
 42,
 23,
 81,
 20,
 31,
 43,
 171,
 77,
 172,
 52,
 95,
 18,
 37,
 55,
 38,
 41,
 43,
 73,
 64,
 74,
 91,
 43,
 113,
 62,
 17,
 156,
 27,
 45,
 214,
 44,
 21,
 96,
 71,
 49,
 58,
 42,
 240,
 124,
 46,
 22,
 35,
 85,
 50,
 33,
 80,
 178,
 54,
 21,
 41,
 69,
 48,
 401,
 38,
 174,
 68,
 44,
 71,
 32,
 31,
 26,
 48,
 102,
 60,
 57,
 101,
 42,
 35,
 35,
 22,
 184,
 75,
 111,
 43,
 48,
 91,
 63,
 73,
 85,
 50,
 39,
 20,
 77,
 128,
 40,
 63,
 302,
 85,
 35,
 145,
 77,
 38,
 314,
 32,
 122,
 101,
 58,
 93,
 47,
 77,
 20,
 86,
 56,
 96,
 39,
 32,
 86,
 200,
 78,
 72,
 46,
 43,
 149,
 176,
 58,
 45,
 31,
 52,
 105,
 29,
 23,
 117,
 52,
 68,
 161,
 92,
 24,
 351,
 203,
 68,
 87,
 52,
 217,
 180,
 44,
 48,
 24,
 59,
 53,
 39,
 99,
 47,
 44,
 60,
 81,
 49,
 40,
 60,
 59,
 168,
 107,
 115,
 88,
 49,
 83,
 279,
 201,
 19,
 162,
 58,
 93,
 169,
 159,
 283,
 74,
 30,
 72,
 132,
 47,
 151,
 48,
 31,
 162,
 154,
 98,
 21,
 58,
 130,
 30,
 49,
 42,
 30,
 97,
 73,
 27,
 82,
 495,
 116,
 28,
 23,
 168,
 51,
 24,
 52,
 71,
 96,
 46,
 47,
 190,
 162,
 47,
 34,
 95,
 53,
 58,
 50,
 21,
 59,
 23,
 119,
 54,
 73,
 104,
 83,
 36,
 60,
 18,
 75,
 42,
 25,
 100,
 19,
 48,
 72,
 100,
 38,
 25,
 36,
 27,
 43,
 44,
 40,
 40,
 62,
 126,
 40,
 22,
 58,
 28,
 18,
 60,
 107,
 24,
 31,
 138,
 41,
 35,
 356,
 264,
 62,
 73,
 149,
 233,
 31,
 203,
 90,
 61,
 112,
 80,
 65,
 103,
 80,
 146,
 119,
 28,
 17,
 129,
 170,
 21,
 28,
 83,
 24,
 80,
 353,
 137,
 126,
 385,
 31,
 60,
 90,
 64,
 75,
 111,
 325,
 256,
 30,
 244,
 109,
 42,
 86,
 54,
 42,
 56,
 194,
 40,
 71,
 100,
 120,
 23,
 276,
 197,
 101,
 65,
 39,
 139,
 78,
 77,
 123,
 160,
 50,
 231,
 24,
 41,
 122,
 155,
 97,
 99,
 74,
 46,
 57,
 187,
 60,
 46,
 44,
 79,
 57,
 27,
 56,
 21,
 237,
 79,
 24,
 344,
 180,
 71,
 41,
 137,
 134,
 24,
 229,
 37,
 27,
 110,
 27,
 43,
 26,
 134,
 59,
 141,
 61,
 25,
 296,
 47,
 25,
 19,
 85,
 67,
 80,
 26,
 140,
 70,
 114,
 199,
 42,
 145,
 29,
 582,
 88,
 27,
 23,
 55,
 254,
 73,
 20,
 31,
 47,
 70,
 32,
 21,
 46,
 127,
 29,
 113,
 393,
 20,
 77,
 80,
 45,
 59,
 40,
 553,
 248,
 52,
 60,
 111,
 48,
 44,
 48,
 173,
 93,
 49,
 98,
 131,
 155,
 93,
 64,
 45,
 119,
 52,
 75,
 59,
 236,
 188,
 146,
 50,
 20,
 157,
 77,
 111,
 639,
 171,
 37,
 68,
 89,
 89,
 28,
 86,
 30,
 241,
 19,
 82,
 276,
 71,
 120,
 270,
 38,
 67,
 146,
 87,
 36,
 42,
 39,
 78,
 148,
 44,
 101,
 153,
 25,
 20,
 196,
 79,
 81,
 167,
 38,
 156,
 213,
 66,
 88,
 89,
 50,
 40,
 169,
 92,
 339,
 59,
 169,
 61,
 50,
 101,
 150,
 112,
 34,
 177,
 183,
 116,
 56,
 25,
 110,
 58,
 38,
 191,
 67,
 127,
 84,
 202,
 30,
 39,
 45,
 32,
 47,
 74,
 31,
 34,
 114,
 89,
 60,
 139,
 55,
 39,
 26,
 50,
 45,
 41,
 37,
 103,
 202,
 49,
 40,
 190,
 96,
 45,
 37,
 42,
 107,
 30,
 39,
 22,
 27,
 116,
 71,
 25,
 58,
 55,
 41,
 18,
 75,
 100,
 35,
 31,
 51,
 65,
 112,
 286,
 71,
 126,
 47,
 42,
 140,
 73,
 604,
 30,
 102,
 33,
 70,
 21,
 26,
 87,
 25,
 49,
 50,
 69,
 56,
 52,
 59,
 41,
 185,
 146,
 107,
 84,
 48,
 80,
 16,
 33,
 47,
 41,
 45,
 46,
 31,
 45,
 45,
 45,
 41,
 64,
 33,
 211,
 36,
 60,
 54,
 82,
 75,
 189,
 34,
 53,
 65,
 99,
 90,
 39,
 169,
 174,
 20,
 51,
 27,
 137,
 22,
 30,
 30,
 39,
 146,
 49,
 31,
 61,
 80,
 25,
 45,
 21,
 103,
 99,
 41,
 83,
 41,
 40,
 75,
 24,
 51,
 28,
 24,
 129,
 65,
 41,
 46,
 72,
 34,
 167,
 107,
 75,
 173,
 47,
 45,
 44,
 33,
 20,
 119,
 30,
 22,
 137,
 22,
 59,
 49,
 149,
 177,
 50,
 50,
 204,
 162,
 260,
 229,
 16,
 56,
 35,
 76,
 47,
 45,
 120,
 24,
 34,
 22,
 38,
 23,
 177,
 178,
 78,
 151,
 89,
 28,
 52,
 85,
 82,
 116,
 165,
 33,
 74,
 49,
 23,
 93,
 122,
 49,
 76,
 57,
 36,
 122,
 123,
 64,
 100,
 192,
 26,
 32,
 117,
 57,
 87,
 132,
 229,
 134,
 66,
 197,
 47,
 32,
 35,
 31,
 103,
 56,
 80,
 23,
 29,
 36,
 39,
 45,
 39,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 44,
 45,
 45,
 46,
 48,
 163,
 54,
 166,
 77,
 284,
 73,
 72,
 36,
 385,
 124,
 194,
 32,
 120,
 33,
 75,
 69,
 30,
 70,
 67,
 42,
 54,
 208,
 81,
 149,
 236,
 79,
 46,
 16,
 64,
 65,
 98,
 71,
 119,
 316,
 313,
 110,
 62,
 73,
 102,
 144,
 464,
 50,
 28,
 42,
 36,
 23,
 59,
 83,
 44,
 33,
 35,
 26,
 40,
 54,
 107,
 133,
 23,
 24,
 32,
 41,
 54,
 21,
 70,
 30,
 479,
 52,
 80,
 25,
 189,
 137,
 90,
 33,
 20,
 127,
 81,
 65,
 65,
 145,
 230,
 343,
 22,
 23,
 60,
 52,
 200,
 90,
 43,
 84,
 20,
 101,
 229,
 101,
 163,
 75,
 40,
 65,
 89,
 124,
 106,
 54,
 58,
 49,
 88,
 163,
 27,
 30,
 106,
 38,
 26,
 ...]